@font-face {
    font-family: 'Chintabelia';
    src: url('fonts/Chintabelia.woff2') format('woff2'),
         url('fonts/Chintabelia.woff') format('woff'),
         url('fonts/Chintabelia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


header{
    background-color: darkgray;
    width: 100vw;
    height: 3vw;
}



.button-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12vw; /* Ширина контейнера */
    margin: 0 auto;
    padding-top: 20px;
}

.btn {
    background: none;
    border: none;
    padding: 0px 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    text-align: center;
}

.btn:focus {
    outline: none;
}

.line {
    position: absolute;
    left: 0;
    height: 0.5vw;
    width: 30%;
    background: linear-gradient(to right, #8A2BE2, #FF69B4); /* Градиент от фиолетового к розовому */
    transition: left 0.4s ease;
    z-index: 0;
    margin-top: 2vw;
    filter: blur(1px);
    border-radius: 5px;
}



.btn.active ~ .line {
    left: 0;
}

.btn:nth-child(2).active ~ .line {
    left: 50%;
    width: 50%;
}

.imgcats{
    width: 5vw;
    height: auto;
    
}

.logo{
    margin-left: 41vw;
    margin-right: auto;
    display: flex;
    margin-top: 2vw;
}

.signin{
    margin-left: 41vw;
    margin-top: 2vw;
    font-size: 14px;
}

.singlc{
    width: 22vw;
    font-size: 18px;
    display: inline-block;
    text-align: justify;
    letter-spacing: 3px;
}

.logomar{
    font-family: "Chintabelia";
    font-size: 56px;
    width: 30vw;
    margin-left: 1vw;
}

.signhelp{
    margin-top: 1vw;
    margin-left: 5vw;
    color: lightslategray;
    font-size: 16px;

}

.vksvg{
    width: 3vw;
    height: auto;
    fill: white;
    display: flex;
    align-items: center;
}

.vk{
    display: flex;
    border:0;
    border-radius: 10px;
    background-color:cornflowerblue;
    text-align: center;
    width: 17vw;
    height: 2.5vw;
    margin-top: 1vw;
    margin-left: 41vw;
}

.vkon{
    font-size: 24px;
    display: flex;
    align-items: center;
    color: white;
    margin-left: 0.2vw;
}

.inside{
    width: 100%;
    display: flex;
    margin-left: 3.2vw;
}

.orall{
    margin-left: 39vw;
    margin-top: 1vw;
    display: flex;
}

.or{
    margin-left: 1vw;
    color: lightslategray;
    font-size: 16px;
}

.line1{
    margin-top:0.6vw;
    margin-right: 0;
    margin-left: 1vw;
    width: 7.5vw;
    height: 0.08vw;
    background-color: lightslategray;
}

.input-container {
    position: relative;
    width: 17vw; /* Ширина контейнера */
}

.input-container input {
    margin-top: 0.5vw;
    width: 100%;
    padding: 10px 40px 10px 10px; /* Отступы для иконки и текста */
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    padding-left: 40px;
}

.input-container svg {
    position: absolute;
    margin-top: 0.25vw;
    top: 50%;
    left:10px; /* Расстояние от правого края */
    transform: translateY(-50%); /* Вертикальное центрирование */
    width: 24px; /* Ширина иконки */
    height: 24px; /* Высота иконки */
}

.name-and-pass{
    margin-left: 41vw;
}

.registr{
    margin-top: 1vw;
    background: linear-gradient(to right, #8A2BE2, #FF69B4);
    border: 0;
    border-radius: 8px;
    color:white;
    width: 17vw;
    height: 2.5vw;
    font-size: 17px;
}
